In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("cars.csv")

In [3]:
data.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

### mean encoding technique : based on label count find the mean and replace
here will use target and will learn the mean encoding technique

We apply mean encoding on brand column

In [4]:
data['brand'].unique()

array(['Maruti', 'Skoda', 'Honda', 'Hyundai', 'Toyota', 'Ford', 'Renault',
       'Mahindra', 'Tata', 'Chevrolet', 'Fiat', 'Datsun', 'Jeep',
       'Mercedes-Benz', 'Mitsubishi', 'Audi', 'Volkswagen', 'BMW',
       'Nissan', 'Lexus', 'Jaguar', 'Land', 'MG', 'Volvo', 'Daewoo',
       'Kia', 'Force', 'Ambassador', 'Ashok', 'Isuzu', 'Opel', 'Peugeot'],
      dtype=object)

In [5]:
data['brand'].value_counts()

Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: brand, dtype: int64

# Mean Encoding

In [13]:
mean1 = data.groupby(['brand'])['selling_price'].mean().to_dict()

In [14]:
mean1

{'Ambassador': 124000.0,
 'Ashok': 300000.0,
 'Audi': 2612199.925,
 'BMW': 4109916.6666666665,
 'Chevrolet': 273867.47826086957,
 'Daewoo': 77000.0,
 'Datsun': 314599.95384615386,
 'Fiat': 296063.78723404254,
 'Force': 887500.0,
 'Ford': 516682.58186397987,
 'Honda': 596178.0149892934,
 'Hyundai': 458554.3667844523,
 'Isuzu': 1942000.0,
 'Jaguar': 2915464.7887323946,
 'Jeep': 2149612.870967742,
 'Kia': 1504500.0,
 'Land': 3608333.3333333335,
 'Lexus': 5150000.0,
 'MG': 1783333.3333333333,
 'Mahindra': 623224.0556994819,
 'Maruti': 403075.7214052288,
 'Mercedes-Benz': 2470444.4444444445,
 'Mitsubishi': 817500.0,
 'Nissan': 465407.35802469135,
 'Opel': 68000.0,
 'Peugeot': 57000.0,
 'Renault': 462618.38157894736,
 'Skoda': 607723.7714285714,
 'Tata': 357433.1076294278,
 'Toyota': 959946.6741803279,
 'Volkswagen': 498817.188172043,
 'Volvo': 3272014.925373134}

In [15]:
data['brand']= data['brand'].map(mean1)

In [16]:
data['brand']

0       403075.721405
1       607723.771429
2       596178.014989
3       458554.366784
4       403075.721405
            ...
8123    458554.366784
8124    458554.366784
8125    403075.721405
8126    357433.107629
8127    357433.107629
Name: brand, Length: 8128, dtype: float64

In [20]:
data.head()

           brand  km_driven    fuel         owner  selling_price
0  403075.721405     145500  Diesel   First Owner         450000
1  607723.771429     120000  Diesel  Second Owner         370000
2  596178.014989     140000  Petrol   Third Owner         158000
3  458554.366784     127000  Diesel   First Owner         225000
4  403075.721405     120000  Petrol   First Owner         130000

In [21]:
data['brand'].unique()

array([ 403075.72140523,  607723.77142857,  596178.01498929,
        458554.36678445,  959946.67418033,  516682.58186398,
        462618.38157895,  623224.05569948,  357433.10762943,
        273867.47826087,  296063.78723404,  314599.95384615,
       2149612.87096774, 2470444.44444444,  817500.        ,
       2612199.925     ,  498817.18817204, 4109916.66666667,
        465407.35802469, 5150000.        , 2915464.78873239,
       3608333.33333333, 1783333.33333333, 3272014.92537313,
         77000.        , 1504500.        ,  887500.        ,
        124000.        ,  300000.        , 1942000.        ,
         68000.        ,   57000.        ])

In [22]:
data['brand'].value_counts()

4.030757e+05    2448
4.585544e+05    1415
6.232241e+05     772
3.574331e+05     734
9.599467e+05     488
5.961780e+05     467
5.166826e+05     397
2.738675e+05     230
4.626184e+05     228
4.988172e+05     186
4.109917e+06     120
6.077238e+05     105
4.654074e+05      81
2.915465e+06      71
3.272015e+06      67
3.146000e+05      65
2.470444e+06      54
2.960638e+05      47
2.612200e+06      40
5.150000e+06      34
2.149613e+06      31
8.175000e+05      14
8.875000e+05       6
3.608333e+06       6
1.942000e+06       5
1.504500e+06       4
1.240000e+05       4
7.700000e+04       3
1.783333e+06       3
3.000000e+05       1
6.800000e+04       1
5.700000e+04       1
Name: brand, dtype: int64